

.accordion-header {
    cursor: pointer;
    padding: 20px;
    border: 0.3px solid blue;
    border-radius: 5px;
    margin-bottom: 1px;
    min-width: 450px;
    display: inline-block;
    color:blue;
    font-weight: 400;
    text-wrap: wrap;
    word-spacing: 10px;
    margin-top: -100px;
    background-color: #f2f2f2;

    
  }
  
  .accordion-content {
    border: none;
    
    border-radius: 5px;
    padding: 0px;
    width: 100%;
    font-size: small;
    font-weight: 200;
    background-color: inherit;
    padding-left: -50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;

  }

  .accordion-content-invisible{
    visibility: hidden;
  }
  