body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px
}

.scroll-button {
    position:fixed;
    background-color: blue;
    bottom: 20px; 
    right: 30px; 
    z-index: 1000;
    color:white;
    padding: 10px;
    border-radius: 5px;
    border:solid 1px black;
    cursor: pointer;

}

.on-page-nav{
    display: flex;
    flex-direction: column;
    border:solid black 0.5px;
    border-radius: 3px;
    width: 50%;
}

.on-page-nav a{
    text-decoration: none;
    margin:5px
    
}
