body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px
}

.scroll-button {
    position:fixed;
    background-color: blue;
    bottom: 20px; 
    right: 30px; 
    z-index: 1000;
    color:white;
    padding: 10px;
    border-radius: 5px;
    border:solid 1px black;
    cursor: pointer;

}
