/* .container-a {
    background-color: blueviolet;
    padding: 20px;
    
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    .button-container {
        /* display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        row-gap: 1px;
        width: 100%;
        justify-content: center; */


        /* display: table;
        width: 100%; 
        row-gap: 10px;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: space-between; */

        /* display: flex;
        flex-wrap: nowrap; /* Prevents wrapping */
        /* justify-content: space-between; /* Adjust as per design */
        /* align-items: center;
        margin: 30px;
        padding-left: 30px;  */
        /* display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center; */
        gap: -5px; /* Optional: Adds space between buttons */
        border:none;
        padding: 10px;
        border-radius: 5px;
        max-height: 200px;
        
    }
        
    
    h2{
        margin-top: 5px;
    }
    

    .button-target {
        white-space: nowrap;
        
        margin: 3px;
        border: solid 1px gray;
        background-color: blue;
        color: white;
        font-weight: 200;
        cursor: pointer;
        display: table-cell;
        border-radius: 5px;
        max-width: 150px;
        min-width: 150px;
        padding: 10px;
        font-size: smaller;
        height: 40px;
        
        flex-grow: 1;
       
       
       flex-basis: calc(50% - 20px);
        
    }
   

    .button-target-horizontal {
        white-space: nowrap;
        
        margin: 3px;
        border: solid 1px gray;
        background-color: blue;
        color: white;
        font-weight: 200;
        cursor: pointer;
        display: table-cell;
        border-radius: 5px;
       
        min-width: 250px;
        padding: 10px;
        font-size: 200;
        height: 40px;
        
        flex-grow: 1;
       
       
       flex-basis: calc(50% - 20px);
        
    }
    .group-title{
        
       
        
    }
    
    .button-target, .button-target a, .button-target a:visited, .button-target a:focus, .button-target a:active {
        text-decoration: none !important;
        text-decoration-line: none !important;
         /* Removes underline */
        color: white; /* Keeps the text color consistent */
        /* Your other styling properties */
    }


    
    